@model List<PodcastSiteBuilder.Models.HostDisplay>
@{
    ViewData["Title"] = "Hosts";
}
<h2>Hosts</h2>
@foreach(var x in Model)
{
    <div class="hostPanel">
        <h3>@x.name</h3>
        @if(x.image != null)
        {
            string img = "https://s3-us-west-2.amazonaws.com/dhcimages/" + @x.image; 
            <img src="@img" width="250"><br><br>
        }
        <p>@x.bio</p>
        @foreach(var l in x.links)
        {
            <p><a href=@l.url>@l.site</a></p>
        }
    </div>
}