@model List<PodcastSiteBuilder.Models.RssData>
@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewBag.PodcastTitle</h1>
@foreach(var x in Model)
{
    <hr/>
    // <p><a href=@x.Link>@x.Title</a> (@Html.Raw(x.PubDate))</p>
    <div class="episodeBox">
        <p><span class="episodeTitle">@x.Title</span> (@Html.Raw(x.PubDate))</p>
        <img class="episodeArt" src=@x.Image width="20%">
        <div class="description">@Html.Raw(x.Description)</div>
        <audio controls>
            <source src=@x.Audio type=@x.AudioType>
        Your browser does not support the audio element.
        </audio>
    </div>
}